<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Test_CustomerVouchers::customer_vouchers"
            title="Customer vouchers"
            module="Test_CustomerVouchers"
            sortOrder="10"
            parent="Magento_Customer::customer"
            action="customervouchers/voucher/index"
            resource="Magento_Customer::manage"
        />
    </menu>
</config>
